NinjectSample/NinjectSample/bin/Debug/Ninject.dll
NinjectSample/NinjectSample/bin/Debug/Ninject.xml
NinjectSample/NinjectSample/bin/Debug/NinjectSample.exe
NinjectSample/NinjectSample/bin/Debug/NinjectSample.exe.config
NinjectSample/NinjectSample/bin/Debug/NinjectSample.pdb
NinjectSample/NinjectSample/bin/Debug/NinjectSample.vshost.exe
NinjectSample/NinjectSample/bin/Debug/NinjectSample.vshost.exe.config
NinjectSample/NinjectSample/bin/Debug/NinjectSample.vshost.exe.manifest
NinjectSample/NinjectSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NinjectSample/NinjectSample/obj/Debug/NinjectSample.csproj.FileListAbsolute.txt
NinjectSample/NinjectSample/obj/Debug/NinjectSample.csprojResolveAssemblyReference.cache
NinjectSample/NinjectSample/obj/Debug/NinjectSample.exe
NinjectSample/NinjectSample/obj/Debug/NinjectSample.pdb
NinjectSample/NinjectSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NinjectSample/NinjectSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NinjectSample/NinjectSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
